# Server Configuration
PORT=3003
API_BASE_URL=http://localhost:3003

# DIGIO 
DIGIO_BASE_URL=
DIGIO_CLIENT_ID=
DIGIO_CLIENT_SECRET=

# DIGIO Debugging
DIGIO_DISABLED=

# JWT with Google
JWT_SECRET=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=

# Cashfree PG
CASHFREE_ENV=
CASHFREE_APP_ID=
CASHFREE_SECRET=


#Testing optional data 
CASHFREE_RETURN_URL=
CASHFREE_PLAN_3M_AMOUNT=
CASHFREE_PLAN_12M_AMOUNT=
FRONTEND_URL=
SUPABASE_URL=
SUPABASE_ANON_KEY=